<h2 mat-dialog-title>Buscar Alimento</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Digite o alimento</mat-label>
      <input alimento matInput placeholder="Ex. Pizza" name="alimento" [(ngModel)]="alimento">
    </mat-form-field>
  </form>
</mat-dialog-content>


<!-- <spaui-input name="documentState" placeholder="" label="UF" maxlength="2" [required]="ufNecessary"
[(ngModel)]="accountDocumentDetails.accountDocumentState"
[disabled]="!selectedDocumentType || !ufNecessary"></spaui-input> -->

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial type="submit" (click)="chamarAlimento()">Buscar</button>
</mat-dialog-actions>
